*{
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}
/* paleta de cores */

:root{
    --azul-claro1: #44B2FC;
    --azul-claro2: #3DA1E3;
    --azul: #3386BD;
    --azul-escuro1:#22587D;
    --azul-escuro2:#112B3D;
}